@import url({{text_font_url}});
@import url({{header_font_url}});
@import url({{code_font_url}});

body {
  font-family: {{paste(text_font_family, text_font_family_fallback, text_font_base, sep = ", ")}};
  font-weight: {{text_font_weight}};
  color: {{text_color}};
}
.remark-slide-content {
  background-color: {{background_color}};
}

h1, h2, h3 {
  font-family: {{header_font_family}};
  font-weight: {{header_font_weight}};
  color: {{header_color}};
}
.remark-code, .remark-inline-code {
  font-family: {{code_font_family}}, {{code_font_family_fallback}}, monospace;
}
.remark-inline-code {
  {{ifelse(!is.na(code_inline_color), paste0("color: ", code_inline_color, ";"), "")}}
  {{ifelse(!is.na(code_inline_background_color), paste0("background-color: ", code_inline_background_color, ";"), "")}}
  {{ifelse(!is.na(code_inline_background_color), "padding: 2px;", "")}}
}
.remark-slide-number {
  color: {{text_slide_number_color}};
  opacity: 1;
}
{{ifelse(!is.na(text_bold_color), paste0("strong{color:", text_bold_color,";}"), "")}}
a, a > code {
  color: {{link_color}};
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted {
  background-color: {{code_highlight_color}};
}
.inverse {
  background-color: {{inverse_background_color}};
  color: {{inverse_text_color}};
  {{ifelse(inverse_text_shadow, "text-shadow: 0 0 20px #333;", "")}}
}
.inverse h1, .inverse h2, .inverse h3 {
  color: {{inverse_header_color}};
}
.title-slide, .title-slide h1, ..title-slide h2, .title-slide h3 {
  background-color: {{title_slide_background_color}};
  color: {{title_slide_text_color}};
  {{ifelse(!is.na(title_slide_background_image), paste0("background-image: url(", title_slide_background_image, ");"), "")}}
  {{ifelse(!is.na(title_slide_background_image), "background-size: cover;", "")}}
}
/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2, .left-column h3 {
  color: {{left_column_subtle_color}};
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: {{left_column_selected_color}};
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px {{blockquote_left_color}};
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid {{table_border_color}};
  border-bottom: 1px solid {{table_border_color}};
}
table thead th { border-bottom: 1px solid {{table_row_border_color}}; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: {{table_row_even_background_color}} }
table.dataTable tbody {
  background-color: {{background_color}};
  color: {{text_color}};
}
table.dataTable.display tbody tr.odd {
  background-color: {{background_color}};
}
table.dataTable.display tbody tr.even {
  background-color: {{ifelse(!is.na(table_row_even_background_color), table_row_even_background_color, background_color)}};
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: {{text_color}};
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: {{text_color}} !important;
}

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
