:root {
  --bs-light-rgb: 249, 250, 250;
}

.bg-light {
  --bs-bg-opacity: 0.95;
}

pre {
  border: none;
  border-left: 2px solid #cfd5d8;
  border-radius: 0;
  background-color: var(--bs-body-bg);
  line-height: 1.33;
}

main pre a {
  text-decoration: none;
}

main pre a:hover {
  text-decoration: underline;
}

@media (max-width: 575.98px) {
  .container main pre {
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5 - 1px);
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
